<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./header')%>
    <link rel="stylesheet" type="text/css" href="/static/index/index.bundle.css">
    <link rel="stylesheet" type="text/css" href="/static/index/chunks/common.css">
    <script src="/static/lib/vendors.js"></script>
    <script src="/static/index/chunks/vendor.js"></script>
</head>
<body>
    <div id="containers"></div>
    <script src="/static/index/chunks/common.js"></script>
    <script src="/static/index/index.js"></script>
</body>

<script type="text/javascript">
	   
		

</script>
</html>